accelerate==1.10.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
alembic==1.16.5
asttokens==3.0.0
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
-e git+ssh://git@github.com/huggingface/datasets.git@b5b1ba0c561ddd689e9f248cf8ff5f0714bdbdaf#egg=datasets
decorator==5.2.1
dill==0.3.6
executing==2.2.1
filelock==3.19.1
flatbuffers==25.2.10
fonttools==4.60.0
frozenlist==1.7.0
fsspec==2025.9.0
greenlet==3.2.4
hf-xet==1.1.10
huggingface-hub==0.35.0
humanfriendly==10.0
idna==3.10
ipython==9.5.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
jupyterlab_widgets==3.0.15
kiwisolver==1.4.9
llvmlite==0.45.0
Mako==1.3.10
MarkupSafe==3.0.2
matplotlib==3.10.6
matplotlib-inline==0.1.7
ml_dtypes==0.5.3
mpmath==1.3.0
multidict==6.6.4
multiprocess==0.70.14
networkx==3.5
numba==0.62.0
numpy==2.3.3
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
onnx==1.19.0
onnxruntime==1.22.1
onnxruntime-tools==1.7.0
optuna==4.5.0
packaging==25.0
pandas==2.3.2
parso==0.8.5
pexpect==4.9.0
pillow==11.3.0
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==6.32.1
psutil==7.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py3nvml==0.2.7
pyarrow==21.0.0
Pygments==2.19.2
pynndescent==0.5.13
pyparsing==3.2.4
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2025.9.18
requests==2.32.5
responses==0.18.0
ruff==0.13.1
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.2
sentencepiece==0.2.1
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.43
stack-data==0.6.3
sympy==1.14.0
threadpoolctl==3.6.0
tokenizers @ git+https://github.com/huggingface/tokenizers.git@916df542684d5f2333c0ba1140deda64efa5cf91#subdirectory=bindings/python
torch==2.8.0
tqdm==4.67.1
traitlets==5.14.3
transformers @ file:///home/cjoy/src/nlp-random/transformers
triton==3.4.0
typing_extensions==4.15.0
tzdata==2025.2
umap-learn==0.5.9.post2
urllib3==2.5.0
wcwidth==0.2.13
widgetsnbextension==4.0.14
xmltodict==1.0.2
xxhash==3.5.0
yarl==1.20.1
